langchain
langchain-openai
langchain-nvidia-ai-endpoints
langchain-milvus>=0.2
langchain-community
langchain-text-splitters
langgraph
pymilvus>=2.5,<2.6
pydantic
python-dotenv
langchain-mcp-adapters
